
<div id = "commentHeader" style= "align:center">
  <h2>They call this place: <b><%= @pin.name %></b></h2>
  <h2>Best For: <b><%= @pin.activity_type %></b></h2>

<h5><i>here's what other adventurers have to say about this site</i></h5>

<div style = "align:center">
<table class="table table-bordered">
  <thead>
    <tr style = "background: #29663D">
      <th style = "color: white">User</th>
      <th style = "color: white">Comment</th>
      <th></th>
     
      
    </tr>
  </thead>
  <tbody>
    <% if (@comments.nil?) %>
    <tr><td>no one's said anything about this site yet... please add a comment!</td> </tr>
    <% else %>
<% @comments.each do |comment| %>
    <tr>
      
      <td><%= find_user_name(comment) %></td>
      <td> <%= comment.content %> <%= comment.created_at.strftime("(%I:%M%p)") %>
      <% if (comment.user_id == @user.id) %>
      <td align = "right">
      <%= link_to 'Edit', edit_comment_path(comment, :user_id => @user.id, :comment_id => comment.id)  %>
      <%= link_to 'Destroy', comment_path(comment.id, :user_id => @user.id),  method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>
<br>
<br>
<br>

<h2>what did you think of this site?</h2>

<div align="center">
<%= form_for :comment, :url =>{:action => "create",  :controller => "comments", :method => :post} do |f| %>

  

  <%= f.text_area :content, :size => "100x10"%>
  
<%= f.hidden_field :user_id, :value => @user.id %>
<%= f.hidden_field :pin_id, :value => @pin.id %>
 
 
  <p>
    <%= f.submit "post", class: "btn btn-large btn-primary"%>
  </p>

<% end %>
</div>
  </div>