<h1>Outdoor Recreation Sites</h1>
<p>have been pinned on this map!</p>
<p>search to find adventure sites near you</p>
<p><%=current_user.name%><%=current_user.id%></p>
<head>
  <script src="https://maps.googleapis.com/maps/api/js?key=API_KEY&sensor=false"></script>
  <%= javascript_include_tag "application" %>

  <script>
    var latitude  = <%= @lat %>;
    var longitude = <%= @lon %>;
  </script>
</head>

