<!DOCTYPE html>
<html>
<head>
  <title>Betaflash</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  

  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "BETAFLASH", '/pins', id: "logo", 'data-no-turbolink' => true %>
          <nav>
            <ul class="nav pull-right" >
              <li class = "nav"><%= link_to "Home", '/pins', 'data-no-turbolink' => true %></li>
               <% if signed_in? %>
               <li class = "nav">
                <%= link_to "Edit Account",  edit_user_path(current_user)%>
              </li>
               <li class = "nav">
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
             
            
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      
      
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <%= yield %>

      
    </div>

</body>
</html>
